<!--<a href="#/Boards"><h1>{{ board.name }}</h1></a>-->

<ul id="state-column-list">
    <li class="state-column" ng-repeat="column in board.getVisibleColumns()">
        <i class="delete-link fa fa-trash" ng-click="deleteColumn(column)"></i>

        <h2>{{ column.name() }}</h2>

        <form class="create-issue-form" ng-submit="createIssue(column)">
            <input type="text" name="name" placeholder="Add new issue" ng-model="column.issueToCreate.title" required />
            <input type="submit" value="Create" />
        </form>

        <ul>
            <li class="issue" ng-repeat="issue in column.issues">
                <i class="delete-link fa fa-trash" ng-click="deleteIssue(column, issue)"></i>

                {{ issue.title }}

                <menu>
                    <span>Move to:</span>
                    <ul>
                        <li ng-repeat="state in board.states">
                            <a ng-click="changeState(issue, state)">{{ state.name }}</a>
                        </li>
                    </ul>
                </menu>

            </li>
        </ul>
    </li>
</ul>

<form id="create-state-form" ng-submit="createState()">
    <input type="text" name="name" placeholder="Add a new column" ng-model="stateToCreate.name" required />
    <input type="submit" value="Create" />
</form>

