<h1>{{ board.name }}</h1>


<h2>Issues</h2>
<ul>
    <li ng-repeat="issue in board.issues">
        {{ issue.title }}
        <i class="fa fa-trash" ng-click="deleteIssue(issue)"></i>

        <span class="current-issue-state">Current state: {{ getStateName(issue.stateId) }}</span>
        <ul ng-repeat="state in board.states">
            <li>
                <a ng-click="changeState(issue, state)">{{ state.name }}</a>
            </li>
        </ul>

    </li>
</ul>

<form id="create-issue-form" ng-submit="createIssue()">
    <input type="text" name="name" placeholder="Title" ng-model="issueToCreate.title" required />
    <input type="submit" value="Create" />
</form>

<h2>States</h2>
<ul>
    <li ng-repeat="state in board.states">
        {{ state.name }}
        <i class="fa fa-trash" ng-click="deleteState(state)"></i>
    </li>
</ul>

<form id="create-state-form" ng-submit="createState()">
    <input type="text" name="name" placeholder="Name" ng-model="stateToCreate.name" required />
    <input type="submit" value="Create" />
</form>


<a href="#/Boards">Back to boards list</a>